<!doctype html>
<html lang="en">
  
  <%- include('./partials/header', {title: 'Home Page'}); %>

  <body>
    <% include ./partials/navbar %>

    <div class="container">
      <h1>Dashboard</h1>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>